body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #444;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 38%;

}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #444;
    margin: 1rem;
    padding: 2rem;
    text-align: left;
}
div{
    
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #444;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
}
fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    margin: 1rem;
    min-width: 9.5rem;
}
a{
    display: block;
    padding: .7rem;
    background-color: #ccc;
    text-align: center;
    text-decoration: none;
    color: #444;
    border-radius: 0.7rem;
}
a:hover{
    color: #f00;
    background-color: #aaa;
}